body, form, textarea, p, div, h1, h2, h3, ul, li, a, a img {
padding: 0;
margin: 0;
border: none;
}

section,
article,
header,
.nav img,
.phot img,
footer {
	display: block;
}

body {
width: 1019px;
margin: 0 auto;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
}

ul, li {
list-style: none;
}

li {
float: left;
}

li a {
color: #fff;
text-decoration: none;
}

header {
position: relative;
height: 174px;
}

section.main {
background: #4ae7ee url(/assets/img/dots.png) left bottom no-repeat;
height: 705px;
}

.portrait section.main {
background: #4ae7ee url(/assets/img/dots.png) left bottom no-repeat;
height: 545px;
}

article {
	float: right;
}

.bd {
	background: #f00;
	color: #fff;
}

article h2 {
	margin-left: 118px;
	margin-top: 84px;
	color: red;
	font-size: 28px;
	font-weight: bold;
	-webkit-transform: rotateZ(2deg) /*scale(.8)*/;
	-moz-transform: rotate(2deg);
	text-shadow: #6374AB 25px 35px 8px;

}

.complist {
	width: 470px;
	z-index: 10;
}

.complist li {
	background: red;
	padding: 20px;
	-moz-box-shadow: 10px 10px 10px #555;
	-webkit-box-shadow: 10px 10px 10px #555;
}

.complist li,
.complist li a {
	color: #4AE7EE;
	text-shadow: 3px 3px 2px #333
}

.complist li:hover {
	background: #d00;
}

.complist li.latest,
.complist li.latest a {
	color: #fff;
	z-index: 10;
}

.odd {
	-webkit-transform: rotateZ(2deg) /*scale(.8)*/;
	-moz-transform: rotate(2deg);
}

.even {
	-webkit-transform: rotateZ(-2deg) /*scale(.8)*/;
	-moz-transform: rotate(-2deg);
}
	
.main_alt article {
	margin-right: 230px;
}

section.caption {
float: left;
width: 364px;
padding-top: 84px;
}

section.photo {
position: relative;
float: right;
}

.nav {
float: right;
width: 530px;
margin-top: 10px;
}

.nav img {
	margin-bottom: 29px;
}

nav {
float: right;
background: #f00;
font-size: 90%;
}

nav a {
	display: block;
	padding: 16px;
}

nav a:hover {
	background: #fff;
	color: red
}

.phot {
float: right;
min-width: 355px;
margin: 20px 10px 10px 10px;
overflow: hidden;
-webkit-transform: rotateZ(2deg) /*scale(.8)*/;
-moz-transform: rotate(2deg);
-moz-box-shadow: 10px 10px 10px #555;
}

label {
display: block;
margin-bottom: 9px;
}

textarea {
width: 282px;
height: 59px;
}

textarea, input {
margin-bottom: 14px;
}

form, .results {
width: 408px;
height: 287px;
position: relative;
margin-right: -77px;
padding: 73px 0 0 53px;
z-index: 10;
background: transparent url(/assets/img/bubble.png) left top no-repeat;
}

.comps {
	z-index: 10;
}

.results {
height: 375px;
background: none; /* just holding the page together... */
}

h1 {
position: absolute;
z-index: 2;
left: -15px;
}

.jas {
margin-top: 71px;
}

.chaplin {
margin-left: -190px;
position: relative;
float: left;
clear: left;
}

.reminder {
float: right;
z-index: 20;
margin-right: -11px;
}

.complete .reminder {
right: 0;
}

.clip {
position: absolute;
right: -43px;
z-index: 20;
margin-top: 20px;
}

.clipB {
margin-top: 90%;
-webkit-transform: rotateZ(10deg) /*scale(.8)*/;
-moz-transform: rotate(10deg) scale(1.2);
}

.normal {
	padding:  100px 0 0 98px;
	width: 461px;
}

.create {
	background: red;
	padding: 33px 0 0 53px;
	width: 408px;
	height: 207px;
}

.success {
	background: red;
	margin-top: 180px;
	width: 470px;
	margin-left: 118px;
}

.success p,
.normal p,
.success li,
.msg {
	background: red;
	padding: 20px;
	line-height: 2em;
	margin-bottom: 10px;
}

.msg {
	background: url(/assets/img/r-arrow.png) left -5px no-repeat;
	position: absolute;
	top: 533px;
	left: 675px;
	width: 212px;
	height: 102px;
}

.success li {
	float: none;
}

.comps {
	margin-top: 50px;
}

#captionListInner {
	background: transparent url(/assets/img/bubble.png) left top no-repeat;
	width: 267px;
	height: 187px;
	padding: 70px 100px 70px 70px;
	overflow: scroll;
}

#captionListInner li {
	margin: 10px 0 10px 0;
}

.captionList {
	width: 437px;
	height: 287px;
	overflow: hidden;
	z-index: 10;
}

.captionListInner {
	padding: 0;
	margin: 0;
	width: 4370px;
	height: 287px;
	position: relative;
}

.captionListInner li {
	width: 267px;
	height: 187px;
	padding: 70px 100px 70px 70px;
	margin: 0;
	background: transparent url(/assets/img/bubble.png) left top no-repeat;
}

#more {
	float: left;
	width: 344px;
	background: red;
	padding: 10px;
}

#counter {
	margin-left: 121px;
}

#next, #back, #counter {
	float: left;
	width: 101px;
	background: red;
	padding: 10px;
}

#next:hover,
#back:hover,
#more:hover {
	-webkit-transform: rotateZ(4deg) /*scale(.8)*/;
	-moz-transform: rotate(4deg);
	background: #fff;
	color: red;
	border: 5px solid red;
	padding: 5px;
	cursor: pointer;
}

#next:active, #back:active {
	background: red;
	color: #fff;
}

article #desc h1,
article #desc h2 {
	-webkit-transform: rotateZ(-2deg) /*scale(.8)*/;
	-moz-transform: rotate(-2deg);
	position: static;
	margin: 0 20px 0 0;
	z-index: 10;
	text-shadow: none;
	color: #fff;
	font-size: 90%;
	float: left;
}

article #desc h2 {
	-webkit-transform: rotateZ(1deg) /*scale(.8)*/;
	-moz-transform: rotate(1deg);
}

#desc {
	background: red;
	padding: 30px;
}

#descInner {
	float: right;
}

footer {
	width: 1019px;
	padding: 40px 0 40px 0;
	text-align: right;
	clear: both;
}

footer a {
	color: #666;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
.colophon {
	padding: 10px 0 10px 0;
}

.colophon p {
	margin: 10px;
}