{% extends 'base_alt.html' %}

{% block 'head' %}
	<title>Caption competition: captions</title>
{% endblock %}

{% block 'main' %}
<h2>Captions</h2>
	<div class="complist comps bd">
		{% for caption in captions %}
<li>{{ caption.text }} ({% if caption.author %}by {{ caption.author }} {% endif %}on photo {{ caption.comp }} on {{ caption.dateCreated }}) [<a href="/captions/{{caption.caption}}/edit">edit</a>, <a href="/captions/{{caption.caption}}/delete">delete</a>, <a href="/captions/{{caption.caption}}/approve">approve</a>]</li>
{% endfor %}
</div>
{% endblock %}

