{% extends 'base.html' %}

{% block 'bodyclass' %}{% if complete %}complete{% else %}active{% endif %}{% endblock %}

{% block 'head' %}
	<title>LBi Caption competition</title>
{% endblock %}
		
{% block 'main' %}
	{% if title %}
		<div id="desc">
			<div id="descInner">
			<h1>Title: {{ title }}</h1>
			{% if description %}
			<h2>Description: {{ description }}</h2>
			{% endif %}
			</div>
		</div>
	{% endif %}
	<section class="caption">
		{% if complete %}
		<div id="captionlist">
		<ul id="captionListInner" style="width:{{ divWidth }}px" class="results">
			{% for caption in captions %}
				<li class="">
					{% if caption.text %}<p class="cap">{{ caption.text|striptags }}</p>{% endif %}
					{% if caption.author %}<p class="author">this caption sent in by: {{ caption.author|striptags }}</p>{% endif %}
					<p class="perm"><a href="/caption/{{ caption.caption }}">permalink</a></p>
				</li>
			{% endfor %}
		</ul>
		{% if showPagination %}
			<p id="more"><a href="/competitions/{{ competitionId }}/page/{{ page }}">page <span id="{{competitionId}}">1</span></a></p>
			{% endif %}
		</div>
		{% else %}
		<form action="/caption/submit" method="POST">
			<input type="hidden" name="competitionId" value="{{ competitionId }}" />
			<div>
				<label>Your caption (max 140):</label><textarea maxlength=140 name="caption" /></textarea>
			</div>
			<div>
				<label>Your name (max 140):</label><input type="text" name="author" />
			</div>
			<div>
				<input type="submit" value="Submit caption!"/>
			</div>
		</form>
		{% endif %}
		<img src="/assets/img/chaplin.png" class="chaplin" />
		<a href="https://uk.maconomy.lbi.com"><img src="/assets/img/reminder.png" class="reminder" /></a>
	</section>	
	<section class="photo">		
		<img src="/assets/img/clip.png"  class="clip clipA" />
		<img src="/assets/img/clip.png"  class="clip clipB" />
		<div class="phot">
			<img src="{{ img }}" />
		</div>
	</section>
{% endblock %}